.background_gif {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./src/assets/images/happy-fall-first-day-of-fall.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}